body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
}

.logo img {
    height: 50px; /* Размер логотипа */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black; /* Цвет ссылок */
}

main {
    background-color: black;
    color: white; /* Цвет текста */
    padding: 20px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery-photo {
    width: 30%; /* Измените ширину по вашему усмотрению */
    margin: 10px;
}

.biography-content {
    display: flex;
}

.biography-photo {
    width: 50%; /* Ширина фотографии в биографии */
    margin-right: 20px;
}

.ad-banner {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    display: none; /* Скрываем по умолчанию */
    z-index: 5; /* Чтобы реклама была выше контента */
}

.close-btn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 5px;
}

}

